# Local Environment Overrides
.env
.env.local

# Deno Cache & Runtime Files
.deno/
deno.lock

# Cloudflare Temporary Tunnel Executables
.trycloudflare/
node_modules/
package-lock.json

# Operating System Trash Files
.DS_Store
Thumbs.db
